# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# MkDocs build
/site/

# OS files
.DS_Store
Thumbs.db